@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
  flex-direction: column;
  height: 100vh;
  font-family: "Space Mono", sans-serif;
}

#container {
  background: pink;
  height: 350px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border: 1px solid black;
  border-radius: 30px;
  margin-top: 60px;
  box-shadow: 2px 2px 5px 1px black;
}
