@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
  flex-direction: column;
  height: 100vh;
  font-family: "Space Mono", sans-serif;
}

#container {
  background: pink;
  height: 350px;
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border: 1px solid black;
  border-radius: 30px;
  margin-top: 60px;
  box-shadow: 2px 2px 5px 1px black;
}

#textbox {
  width: 300px;
  height: 40px;
  border: 2px solid black;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0.5px 0.5px 0.5px 0.5px black;
  font-weight: bold;
}

button {
  padding: 10px;
  border-radius: 20px;
  background: #f26a8d;
  border: 1px solid black;
  width: 150px;
  box-shadow: 1px 1px 1px 1px black;
  cursor: pointer;
  transition: all 0.25s ease;
  font-weight: bold;
}

button.pressed {
    transform: translateY(3px);
    box-shadow: 0 1px 0 black;
}

button:hover {
  background-color: lightblue;
}

h1 {
  margin-bottom: 50px;
}

#round, #information, #winner {
    font-weight: bold;
}

#winner {
    color: red;
}

body.green-theme {
  background-color: #a3b18a;
}

body.green-theme #container {
  background-color: #dad7cd;
}

body.green-theme button {
  color: white;
  background-color: #588157
}

body.green-theme button:hover {
  background-color: #90a955;
}